@model Student_management.Models.CreateUserViewModel

@{
    ViewData["Title"] = "Thêm Học sinh";
}

<h1>Thêm Học sinh</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" type="date" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label>
                <input asp-for="GioiTinh" class="form-control" />
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <hr />

            <div class="form-group">
                <label asp-for="MaLop" class="control-label"></label>
                <select asp-for="MaLop" class="form-control" asp-items="ViewBag.MaLop"></select>
                <span asp-validation-for="MaLop" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Thêm mới</button>
                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}