@model Student_management.Models.HocSinh

@{
    ViewData["Title"] = "Chỉnh sửa Học sinh";
}

<h1>Chỉnh sửa Học sinh</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaHs" />
            <input type="hidden" asp-for="MaNguoiDung" />

            <div class="form-group">
                <label class="control-label">Họ và tên</label>
                <input class="form-control" value="@Model.MaNguoiDungNavigation?.HoTen" disabled />
            </div>

            <div class="form-group">
                <label asp-for="MaLop" class="control-label">Lớp học</label>
                <select asp-for="MaLop" class="form-control" asp-items="@(new SelectList(ViewBag.MaLop, "MaLop", "TenLop", Model.MaLop))"></select>
                <span asp-validation-for="MaLop" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <a asp-action="Index" class="btn btn-secondary">Hủy</a>
            </div>
        </form>
    </div>
</div>